<div class="container">
  <h2> Search employees by email... </h2>
  <form class="d-flex">
    <input class="form-control me-2" type="search" placeholder="Search employee by email" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
  </div>