<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
  <div class="container-fluid">
    
    <a href="/"><%=image_tag("rails_logo.png")%></a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item dropdown">
          <a class="navbar-brand dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Active Record Migration
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="authors">Authors</a></li>
            <li><a class="dropdown-item" href="books">Books</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="navbar-brand dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Active Record Validation/Callbacks
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="faculties">Faculties</a></li>
            <li><a class="dropdown-item" href="students">Students</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="navbar-brand dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Active Record Query Interface Basics
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="employees">Employees</a></li>
            <li><a class="dropdown-item" href="/employees/results">Results</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="navbar-brand dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Advance Active Record Query Interface 
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="pages/advance_query_interface">Root Page</a></li>
            <li><a class="dropdown-item" href="products">Products</a></li>
            <li><a class="dropdown-item" href="customers">Customers</a></li>
            <li><a class="dropdown-item" href="orders">Orders</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="navbar-brand dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Active Record Association
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="events">Events</a></li>
          </ul>
        </li>
        
      </ul>
    </div>
  </div>
</nav>
