<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to example.com, <%= @usern.name %></h1>
    <p>
      Your email has been successfully changed for example.com,
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>