<h1>Welcome to example.com, <%= @usern.name %></h1>
  <p>
    You have successfully signed up to example.com,
    your username is: <%= @usern.name %>.<br>
  </p>
<p>Thanks for joining and have a great day!</p>
