<div class="container">
  <div class="jumbotron">
    <h1 class="display-4"><%= @ordern.productn.name %></h1>
    <h2 class="lead"><%= @ordern.quantity %></h2>

    <hr class="my-4">

    <%= link_to "Edit", edit_productn_ordern_path(@ordern.productn, @ordern), class:"btn btn-primary" %> <br> <br>
    <%= button_to "Delete", edit_productn_ordern_path(@ordern.productn, @ordern), class:"btn btn-secondary" ,method: :delete, data: {confirm: "Are you sure?"} %> <br>
  
  </div>
</div>
